<div class="container page-margin-top">
  <h1>{{'headers.privacy_policy' | translate}}</h1>
</div>

<div class="container page-margin-bottom">

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>1. Rekisterinpitäjä</dt>
        <dd>Porin kaupunki</dd>
        <dd>PL 121</dd>
        <dd>28101 Pori</dd>
        <dd>käyntiosoite: Hallituskatu 12</dd>
        <dd>sähköposti: kirjaamo@pori.fi</dd>
        <dd>puh. 02 621 1100</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>2. Rekisterin vastuuhenkilö</dt>
        <dd> ICT-yksikön päällikkö Heikki Haaparanta, heikki.haaparanta@pori.fi</dd>
      </dl>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>3. Yhteyshenkilö rekisteriä koskevissa asioissa</dt>
        <dd>Marianne Keskimäki, marianne.keskimaki@pori.fi</dd>
        <dd>Tietosuojavastaava, tietosuojavastaava@pori.fi</dd>
      </dl>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>4. Rekisterin nimi ja muoto</dt>
        <dd>
          Rekisterin nimi: Satakunta Events -tapahtumatietokanta
        </dd>
        <dd>Rekisterin muoto: sähköinen</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>5. Rekisterin käyttötarkoitus ja oikeusperuste</dt>
        <dd>Porin kaupungin tapahtumatietokanta, josta julkaistaan tapahtumat kaupungin nettisivuille ja avoimeen rajapintaan
          muualle käytettäväksi.</dd>
        <dd>Käyttäjärekisteri muodostuu järjestelmän sisällönsyöttäjistä sekä tapahtumiin liittyvistä yhteystiedoista.
          Käyttö perustuu käyttäjän suostumukseen.</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>6. Rekisterin tietosisältö ja henkilötietojen luokittelu</dt>
        <dd>Sähköisesti tallennetut tiedot:
          <dd>
            <ul>
              <li>yhteyshenkilön nimi</li>
              <li>yhteyshenkilön sähköpostiosoite</li>
              <li>yhteyshenkilön puh.numero</li>
              <li>tapahtumajärjestäjän nimi</li>
              <li>tapahtumajärjestäjän sähköpostiosoite</li>
              <li>tapahtumajärjestäjän puh.numero</li>
            </ul>
          </dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>7. Rekisterin säännönmukaiset tietolähteet </dt>
        <dd>Tapahtuman järjestävä taho.</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>8. Säännönmukaiset henkilötietojen luovutukset ja tietojen siirto EU:n tai ETAn ulkopuolelle</dt>
        <dd>Yhteyshenkilön tietoja ei luovuteta eteenpäin. Tapahtumakohtaiset tiedot julkaistaan avoimessa rajapinnassa.</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>9. Tietojen säilytysaika</dt>
        <dd>Tapahtumakohtaisesti seuraavan kalenterivuoden loppuun.</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>10. Automatisoitu päätöksenteko ja profilointi</dt>
        <dd>Ei sisällä automatisoitua päätöksentekoa</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>11. Rekisterin suojauksen periaatteet</dt>
        <dd>Sähköinen aineisto</dd>
        <dd>Järjestelmään pääsyä säädellään käyttöoikeuksin, ja kirjautuminen tapahtuu käyttäjätunnuksella ja
          salasanalla. Tapahtumatietokanta on avointa dataa.</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>12. Rekisteröidyn tarkastusoikeus</dt>
        <dd>Rekisterissä olevalla henkilöllä on oikeus tarkastaa, mitä tietoja hänestä on rekisterissä. Pyyntö tulee
          suorittaa kirjallisena rekisterin pitäjälle. Ohjeet pyynnön tekoon löytyvät sivulta
          <a href="https://www.pori.fi/pori-tieto/tietosuoja" target="_blank" rel="noopener noreferrer">www.pori.fi/pori-tieto/tietosuoja</a>
        </dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>13. Oikeus vaatia tiedon korjaamista</dt>
        <dd>Rekisteröidyllä on oikeus vaatia, että rekisterinpitäjä oikaisee ilman aiheetonta viivytystä rekisteröityä
          koskevat epätarkat ja virheelliset henkilötiedot. Ottaen huomioon tarkoitukset, joihin tietoja käsiteltiin,
          rekisteröidyllä on oikeus saada puutteelliset henkilötiedot täydennettyä, muun muassa toimittamalla lisäselvitys.
          Ohjeet pyynnön tekoon löytyvät sivulta
          <a href="https://www.pori.fi/pori-tieto/tietosuoja" target="_blank" rel="noopener noreferrer">www.pori.fi/pori-tieto/tietosuoja</a>
        </dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>14. Muut henkilötietojen käsittelyyn liittyvät oikeudet</dt>
        <dd>Rekisteröidyllä on oikeus siihen, että rekisterinpitäjä rajoittaa käsittelyä, jos kyseessä on yksi seuraavista:</dd>
        <dd>a) rekisteröity kiistää henkilötietojen paikkansapitävyyden, jolloin käsittelyä rajoitetaan ajaksi, jonka
          kuluessa rekisterinpitäjä voi varmistaa niiden paikkansapitävyyden;</dd>
        <dd>b) käsittely on lainvastaista ja rekisteröity vastustaa henkilötietojen poistamista ja vaatii sen sijaan niiden
          käytön rajoittamista;</dd>
        <dd>c) rekisterinpitäjä ei enää tarvitse kyseisiä henkilötietoja käsittelyn tarkoituksiin, mutta rekisteröity
          tarvitsee niitä oikeudellisen vaateen laatimiseksi, esittämiseksi tai puolustamiseksi;</dd>
        <dd>d) rekisteröity on vastustanut henkilötietojen käsittelyä odotettaessa sen todentamista, syrjäyttävätkö rekisterinpitäjän
          oikeutetut perusteet rekisteröidyn perusteet.</dd>
        <dd>Niiltä osin kuin henkilötietojen käsittely perustuu rekisteröidyn suostumukseen, on rekisteröidyllä oikeus
          peruuttaa suostumuksensa milloin tahansa. Suostumuksen peruuttaminen ei vaikuta suostumuksen perusteella ennen
          sen peruuttamista suoritetun käsittelyn lainmukaisuuteen.</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <dl class="app-theme">
        <dt>15. Valitusoikeus</dt>
        <dd>Rekisterissä olevalla henkilöllä on oikeus tehdä valitus henkilötiedon käsittelystä valvontaviranomaiselle.</dd>
      </dl>
    </div>
  </div>
</div>
