@import '../../../../themes/colors';
.image-preview {
  width: 256px;
}

.image-preview button {
  position: absolute;
  top: 0;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
}

.image-preview-empty {
  background-color: darken($tip-bg-color, 5%);
  height: 157px;
  text-align: center;
  display: table;
}

.info-no-picture {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.placeholder-image {
  background-color:  lighten(#dddddd, 9%);
  width: 256px;
  height: 156px;
  padding: 48px;
  margin: 0 0 15px 0;
  text-align: center;
}
.placeholder-image > .photo-icon {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 50%;
  font-size: 64px;
}
