<div class="container page-margin-top">
  <h1>{{'shared.administration' | translate}}</h1>

  <hr>

  <div>
    <button mat-raised-button class="app-theme-labels" (click)="openEventsTabs()" [disabled]="currentManagePage === 1">
      {{'shared.events' | translate}}
    </button>
    <button mat-raised-button class="app-theme-labels" (click)="openUsersTabs()" [disabled]="currentManagePage === 2" *ngIf="isAdmin">
      {{'shared.users' | translate}}
    </button>
    <button mat-raised-button class="app-theme-labels" (click)="openKeywordsTabs()" [disabled]="currentManagePage === 3" *ngIf="isAdmin">
      {{'shared.keywords' | translate}}
    </button>
    <button mat-raised-button class="app-theme-labels" (click)="openReportingTabs()" [disabled]="currentManagePage === 4" *ngIf="isStaff">
      {{'shared.reports' | translate}}
    </button>
  </div>
</div>
<div class="container page-margin-top page-margin-bottom">
  <div *ngIf="currentManagePage === 1">
    <app-event-list></app-event-list>
  </div>
  <div *ngIf="currentManagePage === 2">
    <app-user-list></app-user-list>
  </div>
  <div *ngIf="currentManagePage === 3">
    <app-keyword-list></app-keyword-list>
  </div>
  <div *ngIf="currentManagePage === 4">
    <app-events-report></app-events-report>
  </div>
</div>
