@font-face {
  font-family: 'BergenText-BoldItalic';
  src: url("/assets/fonts/webfonts/353882_0_0.eot");
  src: url("/assets/fonts/webfonts/353882_0_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/353882_0_0.woff2") format("woff2"), url("/assets/fonts/webfonts/353882_0_0.woff") format("woff"), url("/assets/fonts/webfonts/353882_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BergenText-Bold';
  src: url("/assets/fonts/webfonts/353882_1_0.eot");
  src: url("/assets/fonts/webfonts/353882_1_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/353882_1_0.woff2") format("woff2"), url("/assets/fonts/webfonts/353882_1_0.woff") format("woff"), url("/assets/fonts/webfonts/353882_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BergenText-Italic';
  src: url("/assets/fonts/webfonts/353882_2_0.eot");
  src: url("/assets/fonts/webfonts/353882_2_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/353882_2_0.woff2") format("woff2"), url("/assets/fonts/webfonts/353882_2_0.woff") format("woff"), url("/assets/fonts/webfonts/353882_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BergenText-Regular';
  src: url("/assets/fonts/webfonts/353882_3_0.eot");
  src: url("/assets/fonts/webfonts/353882_3_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/353882_3_0.woff2") format("woff2"), url("/assets/fonts/webfonts/353882_3_0.woff") format("woff"), url("/assets/fonts/webfonts/353882_3_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BergenText-SemiBold';
  src: url("/assets/fonts/webfonts/353882_4_0.eot");
  src: url("/assets/fonts/webfonts/353882_4_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/353882_4_0.woff2") format("woff2"), url("/assets/fonts/webfonts/353882_4_0.woff") format("woff"), url("/assets/fonts/webfonts/353882_4_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BergenText-SemiBoldItalic';
  src: url("/assets/fonts/webfonts/353882_5_0.eot");
  src: url("/assets/fonts/webfonts/353882_5_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/353882_5_0.woff2") format("woff2"), url("/assets/fonts/webfonts/353882_5_0.woff") format("woff"), url("/assets/fonts/webfonts/353882_5_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BergenMono-SemiBold';
  src: url("/assets/fonts/webfonts/353882_6_0.eot");
  src: url("/assets/fonts/webfonts/353882_6_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/353882_6_0.woff2") format("woff2"), url("/assets/fonts/webfonts/353882_6_0.woff") format("woff"), url("/assets/fonts/webfonts/353882_6_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BergenMono-Regular';
  src: url("/assets/fonts/webfonts/353882_7_0.eot");
  src: url("/assets/fonts/webfonts/353882_7_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/353882_7_0.woff2") format("woff2"), url("/assets/fonts/webfonts/353882_7_0.woff") format("woff"), url("/assets/fonts/webfonts/353882_7_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BergenMono-SemiBoldItalic';
  src: url("/assets/fonts/webfonts/353882_8_0.eot");
  src: url("/assets/fonts/webfonts/353882_8_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/353882_8_0.woff2") format("woff2"), url("/assets/fonts/webfonts/353882_8_0.woff") format("woff"), url("/assets/fonts/webfonts/353882_8_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BergenMono-Bold';
  src: url("/assets/fonts/webfonts/353882_9_0.eot");
  src: url("/assets/fonts/webfonts/353882_9_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/353882_9_0.woff2") format("woff2"), url("/assets/fonts/webfonts/353882_9_0.woff") format("woff"), url("/assets/fonts/webfonts/353882_9_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BergenMono-BoldItalic';
  src: url("/assets/fonts/webfonts/353882_A_0.eot");
  src: url("/assets/fonts/webfonts/353882_A_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/353882_A_0.woff2") format("woff2"), url("/assets/fonts/webfonts/353882_A_0.woff") format("woff"), url("/assets/fonts/webfonts/353882_A_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BergenMono-Italic';
  src: url("/assets/fonts/webfonts/353882_B_0.eot");
  src: url("/assets/fonts/webfonts/353882_B_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/353882_B_0.woff2") format("woff2"), url("/assets/fonts/webfonts/353882_B_0.woff") format("woff"), url("/assets/fonts/webfonts/353882_B_0.ttf") format("truetype");
}
