<div class="container page-margin-top">
  <h1>{{'headers.linked_events_in_summary' | translate}}</h1>
</div>

<div class="container container-margin-bottom">
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>Mikä on Satakunta Events?</h2>
      <p>
        Satakunta Events on kaikille avoin ja maksuton tapahtumatietokanta, jonne kaikki voivat syöttää tapahtumansa aiheesta riippumatta.
        Tapahtumakanta on kaikkien hyödynnettävissä omilla sivuillaan tai sovelluksissa.
      </p>
      <p>
        Tapahtumia voi syöttää rekisteröityneet käyttäjät. Rekisteröitynyt käyttäjä voi myös hallinnoida omia tapahtumiaan. Kirjautumaan
        pääset osoitteessa:
        <a [routerLink]="['/login']">satakuntaevents.fi/login</a>. Tapahtumia voi tarkastella <a [routerLink]="['/search']">hakusivulta</a>.
      </p>
      <p>
        Satakunta Events on Porin kaupungin tapahtumarajapinta. Rajapintaan syötetyt tapahtumat siirtyvät automaattisesti kaupungin
        tapahtumakalenteriin. Kaupungin tapahtumakalenteri:
        <a href="https://tapahtumat.pori.fi" target="_blank" rel="noopener noreferrer">tapahtumat.pori.fi</a>.
      </p>
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>Tapahtumatietojen käyttöoikeus</h2>
      <p>Tapahtumatiedot on lisensoitu CC BY 4.0 lisenssillä. Lisenssin tiedot
        (<a href="https://creativecommons.org/licenses/by/4.0/deed.fi" target="_blank" rel="noopener noreferrer">FI</a>)
      </p>
      <h3>Kuvat</h3>
      <ol>
        <li>
          Kuvia saa käyttää ainoastaan kuvan tapahtumaa käsittelevään tiedotukseen ja viestintään.
          Kuvien käyttäminen tähän tarkoitukseen on käyttäjälle ilmaista. Kuvan käyttö tai siirto muihin tarkoituksiin on kielletty. Kuvien tekijänoikeudet pysyvät omistajalla.
        </li>
        <li>
          Lataamalla kuvan rajapintaan hyväksyt yllämainitut (1.) olevat käyttöehdot sekä vakuutat,
          että kuvan tekijänoikeudet kuuluvat sinulle tai sinulla on lupa käyttää kuvaa kohdan 1. mukaiseen käyttötarkoitukseen. Satakunta Eventsiä ylläpitävä taho ei vastaa käyttäjien tekemistä tekijänoikeusrikkomuksista.
        </li>
      </ol>
      <h3>Käyttöehdot: Tapahtumien laillisuus ja asianmukaisuus</h3>
      <p>
        Sisältö ei saa olla lainvastaista, valheellista, muille käyttäjille haitallista tai hyvän tavan vastaista.
        <span class="text-as-link" (click)="openPrivacyPolicyDialog()">Tietosuojaseloste</span>.
      </p>
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>Kehittäjille</h2>
      <p>
        Satakunta Events tapahtumatietokannan kaikki tapahtumat ovat avointa dataa. Tapahtumia voi syöttää ja hakea REST rajapinnan
        kautta.
        <a href="https://satakuntaevents.fi/api/v2/" target="_blank">Rajapinnan dokumentaatio</a>.
      </p>

      <p>
        Satakunta Events tapahtumatietokanta on tehty yhteistyössä Tapahtumien digiloikka -hankkeen kanssa. Sen käytännön toteutuksesta
        vastaa
        <a href="https://dymesolutions.com" target="_blank">Dyme Solutions Oy</a>
      </p>

      <p>
        Satakunta Events perustuu Helsingin kaupungin avoimella lähdekoodilla julkaisemaan
        <a href="https://dev.hel.fi/projects/linked-events/" target="_blank" rel="noopener noreferrer">Linked Events -tapahtumarajapintaan</a>.
      </p>
    </div>
  </div>
  <div class="row row-spacing">
    <p>
      Virhetilanteissa ota yhteyttä helpdesk@pori.fi
    </p>
  </div>
</div>
