<mat-dialog-actions>
  <div class="text-right" style="width:100%;">
    <button mat-button [mat-dialog-close]="true">{{'shared.ok' | translate}}</button>
  </div>
</mat-dialog-actions>
<h2 class="mat-dialog-title">
  {{'headers.privacy_policy' | translate}}
</h2>

<mat-dialog-content>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>1. Rekisterinpitäjä</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Porin kaupunki
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      PL 121
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      28101 Pori
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      käyntiosoite: Hallituskatu 12
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      sähköposti: kirjaamo@pori.fi
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      puh. 02 621 1100
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>2. Rekisterin vastuuhenkilö</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      ICT-yksikön päällikkö Heikki Haaparanta, heikki.haaparanta@pori.fi
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>3. Yhteyshenkilö rekisteriä koskevissa asioissa</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Marianne Keskimäki, marianne.keskimaki@pori.fi
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Tietosuojavastaava, tietosuojavastaava@pori.fi
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>4. Rekisterin nimi ja muoto</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Rekisterin nimi: Satakunta Events -tapahtumatietokanta
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Rekisterin muoto: sähköinen
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>5. Rekisterin käyttötarkoitus ja oikeusperuste</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Porin kaupungin tapahtumatietokanta, josta julkaistaan tapahtumat kaupungin nettisivuille ja avoimeen rajapintaan
      muualle käytettäväksi.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Käyttäjärekisteri muodostuu järjestelmän sisällönsyöttäjistä sekä tapahtumiin liittyvistä
      yhteystiedoista.
      Käyttö perustuu käyttäjän suostumukseen.
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>6. Rekisterin tietosisältö ja henkilötietojen luokittelu</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Sähköisesti tallennetut tiedot:
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ul>
        <li>yhteyshenkilön nimi</li>
        <li>yhteyshenkilön sähköpostiosoite</li>
        <li>yhteyshenkilön puh.numero</li>
        <li>tapahtumajärjestäjän nimi</li>
        <li>tapahtumajärjestäjän sähköpostiosoite</li>
        <li>tapahtumajärjestäjän puh.numero</li>
      </ul>
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>7. Rekisterin säännönmukaiset tietolähteet</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Tapahtuman järjestävä taho.
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>8. Säännönmukaiset henkilötietojen luovutukset ja tietojen siirto EU:n tai ETAn ulkopuolelle</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Yhteyshenkilön tietoja ei luovuteta eteenpäin. Tapahtumakohtaiset tiedot julkaistaan avoimessa rajapinnassa.
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>9. Tietojen säilytysaika</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Tapahtumakohtaisesti seuraavan kalenterivuoden loppuun.
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>10. Automatisoitu päätöksenteko ja profilointi</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Ei sisällä automatisoitua päätöksentekoa
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>11. Rekisterin suojauksen periaatteet</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Sähköinen aineisto
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Järjestelmään pääsyä säädellään käyttöoikeuksin, ja kirjautuminen tapahtuu käyttäjätunnuksella ja
      salasanalla. Tapahtumatietokanta on avointa dataa.
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>12. Rekisteröidyn tarkastusoikeus</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Rekisterissä olevalla henkilöllä on oikeus tarkastaa, mitä tietoja hänestä on rekisterissä. Pyyntö tulee
      suorittaa kirjallisena rekisterin pitäjälle. Ohjeet pyynnön tekoon löytyvät sivulta
      <a href="https://www.pori.fi/pori-tieto/tietosuoja" target="_blank" rel="noopener noreferrer">www.pori.fi/pori-tieto/tietosuoja</a>
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>13. Oikeus vaatia tiedon korjaamista</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Rekisteröidyllä on oikeus vaatia, että rekisterinpitäjä oikaisee ilman aiheetonta viivytystä
      rekisteröityä
      koskevat epätarkat ja virheelliset henkilötiedot. Ottaen huomioon tarkoitukset, joihin tietoja käsiteltiin,
      rekisteröidyllä on oikeus saada puutteelliset henkilötiedot täydennettyä, muun muassa toimittamalla
      lisäselvitys.
      Ohjeet pyynnön tekoon löytyvät sivulta
      <a href="https://www.pori.fi/pori-tieto/tietosuoja" target="_blank" rel="noopener noreferrer">www.pori.fi/pori-tieto/tietosuoja</a>
    </div>
  </div>

  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>14. Muut henkilötietojen käsittelyyn liittyvät oikeudet</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Rekisteröidyllä on oikeus siihen, että rekisterinpitäjä rajoittaa käsittelyä, jos kyseessä on yksi
      seuraavista:
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ol class="ordered-list-alphabetic">
        <li>rekisteröity kiistää henkilötietojen paikkansapitävyyden, jolloin käsittelyä rajoitetaan ajaksi,
          jonka
          kuluessa rekisterinpitäjä voi varmistaa niiden paikkansapitävyyden;</li>
        <li>käsittely on lainvastaista ja rekisteröity vastustaa henkilötietojen poistamista ja vaatii sen sijaan
          niiden
          käytön rajoittamista;</li>
        <li>rekisterinpitäjä ei enää tarvitse kyseisiä henkilötietoja käsittelyn tarkoituksiin, mutta
          rekisteröity
          tarvitsee niitä oikeudellisen vaateen laatimiseksi, esittämiseksi tai puolustamiseksi;</li>
        <li>rekisteröity on vastustanut henkilötietojen käsittelyä odotettaessa sen todentamista,
          syrjäyttävätkö rekisterinpitäjän
          oikeutetut perusteet rekisteröidyn perusteet.</li>
      </ol>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Niiltä osin kuin henkilötietojen käsittely perustuu rekisteröidyn suostumukseen, on rekisteröidyllä oikeus
      peruuttaa suostumuksensa milloin tahansa. Suostumuksen peruuttaminen ei vaikuta suostumuksen perusteella ennen
      sen peruuttamista suoritetun käsittelyn lainmukaisuuteen.
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <strong>15. Valitusoikeus</strong>
    </div>
  </div>
  <div class="row row-spacing">
    <div class="col-sm-12 col-md-12 col-lg-12">
      Rekisterissä olevalla henkilöllä on oikeus tehdä valitus henkilötiedon käsittelystä
      valvontaviranomaiselle.
    </div>
  </div>
  <div class="row row-spacing">&nbsp;</div>
</mat-dialog-content>
