.footer-container {
  background-color: #ffffff;
  width: 100%;
  z-index: 999;
  height: 86px;
  text-align: center;
  margin: 32px 0 0;
}

.footer-container img {
  max-height: 64px;
  margin: 10px 25px;
}
