<div class="footer-container">
  <img src="assets/images/logos/eakr-logo-128.png" alt="Euroopan aluekehitysrahasto" title="Euroopan aluekehitysrahasto">
  <img src="assets/images/logos/vipuvoimaa-logo-128.png" alt="Vipuvoimaa EU:lta 2014-2020" title="Vipuvoimaa EU:lta 2014-2020">
  <img src="assets/images/logos/pori-logo-128.png" alt="Porin kaupunki" title="Porin kaupunki">
  <img src="assets/images/logos/visitpori-logo-128.png" alt="Visit Pori" title="Visit Pori">
  <img src="assets/images/logos/dymesolutions-logo-128.png" alt="Dyme Solutions Oy" title="Dyme Solutions Oy">
</div>
