<div class="container page-margin-top">
  <h1>{{'headers.reset_password' | translate}}</h1>
</div>

<app-loading-indicator [showSpinner]="verifyingResetKey"></app-loading-indicator>

<div *ngIf="!showEmailForm">
  <div *ngIf="showPasswordChangedInfo">
    <div class="container page-margin-bottom" [formGroup]="passwordGroup">
      <div class="row row-spacing">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <p>{{'info.password_changed' | translate}}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="resetKeyVerified && !showPasswordChangedInfo">
    <div class="container page-margin-bottom" [formGroup]="passwordGroup">
      <div class="row row-spacing">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <mat-form-field class="form-field">
            <label for="password">{{'placeholders.new_password' | translate}}</label>
            <input matInput id="password" type="password" class="app-theme-text" formControlName="password">
          </mat-form-field>
          <mat-error>
            <mat-error class="error-message app-theme-text" *ngIf="passwordMatchError">
              {{'errors.passwords_dont_match' | translate}}
            </mat-error>
          </mat-error>
          <mat-error *ngFor="let validation of passwordValidationMsgs?.password">
            <mat-error class="error-message app-theme-text" *ngIf="passwordGroup.get('password').hasError(validation.type) && (passwordGroup.get('password').dirty || passwordGroup.get('password').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
      <div class="row row-spacing">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <mat-form-field class="form-field">
            <label for="passwordAgain">{{'placeholders.password_again' | translate}}</label>
            <input matInput id="passwordAgain" type="password" class="app-theme-text" formControlName="passwordAgain">
          </mat-form-field>
          <mat-error *ngFor="let validation of passwordValidationMsgs?.passwordAgain">
            <mat-error class="error-message app-theme-text" *ngIf="passwordGroup.get('passwordAgain').hasError(validation.type) && (passwordGroup.get('passwordAgain').dirty || passwordGroup.get('passwordAgain').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
      <div class="row row-spacing">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <button mat-raised-button (click)="changePassword()" [disabled]="sending">{{'shared.send' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!resetKeyVerified">
    <div class="container">
      <div class="row row-spacing">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p style="color: red;">
            {{'errors.link_is_not_valid' | translate}}
          </p>
        </div>
      </div>
      <div class="row row-spacing">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <button mat-raised-button class="app-theme-labels" (click)="askNewKey()">{{'buttons.ask_new' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showEmailForm">
  <div class="container page-margin-bottom" *ngIf="resetEmailSent">
    <div class="row row-spacing">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p>
          {{'info.password_change_link_sent' | translate}}
        </p>
      </div>
    </div>
  </div>

  <div class="container page-margin-bottom" *ngIf="!resetEmailSent && !resetKeyVerified">
    <div class="row row-spacing">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p>
          Lähetämme salasanan palautukseen tarvittavan linkin sähköpostiisi. Linkki on voimassa 60 minuuttia.
        </p>
      </div>
    </div>
    <div class="row row-spacing">
      <div class="col-sm-12 col-md-6 col-lg-6" [formGroup]="resetGroup">
        <mat-form-field class="form-field">
          <input matInput id="email" type="text" class="app-theme-text" formControlName="email" style="box-shadow: none" placeholder="{{'placeholders.email' | translate}}">
        </mat-form-field>

        <mat-error *ngFor="let validation of emailValidationMsgs?.email">
          <mat-error class="error-message app-theme-text" *ngIf="resetGroup.get('email').hasError(validation.type) && (resetGroup.get('email').dirty || resetGroup.get('email').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <button mat-raised-button class="app-theme-labels" type="button" (click)="submit()" [disabled]="sending">
          {{'shared.send' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
